In [1]:
import re
import os
import glob
import json
import pytesseract
from PIL import Image
import pandas as pd

In [4]:
# My offsets
row_height = 590
rows_start = 330
left_margin_rows = 220
right_margin_rows = 245
box_width = 1500

In [14]:
ls data/1

extract_pipe.py  page_19.png  page_29.png  page_39.png      page_4.png
nohup.log        page_1.png   page_2.png   page_3.png       page_5.png
page_10.png      page_20.png  page_30.png  page_3.png.json  page_6.png
page_11.png      page_21.png  page_31.png  page_40.png      page_7.png
page_12.png      page_22.png  page_32.png  page_41.png      page_8.png
page_13.png      page_23.png  page_33.png  page_42.png      page_9.png
page_14.png      page_24.png  page_34.png  page_43.png      png
page_15.png      page_25.png  page_35.png  page_44.png
page_16.png      page_26.png  page_36.png  page_45.png
page_17.png      page_27.png  page_37.png  page_46.png
page_18.png      page_28.png  page_38.png  page_47.png

In [23]:
regexes = {
    'Name': "(?<=Name)(.*)",
    'Relative': "(Father|Mother|Husband)\\\'s.*?Name.*?:(.*)",
    'Age': "Age:\s([0-9]+)",
    'Sex': "Sex:\s(MALE|FEMALE|THIRD GENDER)"
}
compiled_regexes = {k:re.compile(v) for k,v in regexes.items()}

row_sizes = {
    'row_height': 290,
    'box_width': 752,
}
def get_string_from_row(row):
    '''Takes in a single row (Image Object), gets 3 text strings out'''
    box_width = row_sizes['box_width']
    
    return [pytesseract.image_to_string(row.crop((i * box_width, 0 ,(i + 1) * box_width, row.size[1]))) 
            for i in range(3)]

def get_first_offsets(width, height):
    # First page offsets
    return {
    #     'name and reservation status of parliamentary constituencies': (0, 300, width, 450),
        'Sections': (0, 1060, width/2-200, 1800), # Sections in PDF
        'Details': (width/2+200,1060, width, 1800), # town,ward,police,tehsil,district,pin
        'Polling Station':(0,2000, width/2+50, height-1050), # no and name of polling station
        'Voters': (width/6+500,height-950,width, height-800)
    }
        
def get_voter_offsets(width, height):
    return {
        'header': (0,0,width, 200),
        'rows': (101, 210, width-120, height-370), # As close to row lines as possible
    }

def handle_sheet(filename):
    '''Takes a filename and returns a list of strings inside it'''
    image = Image.open(filename)
    width, height = image.size
    if os.path.basename(filename) == 'page_1.png':
        return {
            k : pytesseract.image_to_string(image.crop(v)) for k,v in get_first_offsets(width, height).items()
        }
    else:
#         import pdb; pdb.set_trace()
        header, all_rows = (image.crop(v) for k, v in get_voter_offsets(width, height).items())
        rows = [all_rows.crop((0, i * row_sizes['row_height'], all_rows.size[0], (i+1) * row_sizes['row_height'])) for i in range(10)] 
        strings = [get_string_from_row(row) for row in rows]
        all_strings = [item for sublist in strings for item in sublist]
        regexes = [[regex.search(string_)[0] if regex.search(string_) else None for regex in compiled_regexes.values()] for string_ in all_strings]
        return{
            'Header': pytesseract.image_to_string(header),
#             'Footer': pytesseract.image_to_string(image.crop(footer_box)),
#             'Rows': rows,
            'Strings': strings,
            "Regexes": regexes
        }

In [24]:
handle_sheet('data/42/page_3.png')

{'Header': 'Assembly Constituency No and Name: 15-SHAKUR BASTI Part No.- : 42\n\nSection No and Name : 1-BLOCK BG-6,PASCHIM VIHAR',
 'Strings': [["ACB1721132\n\n \n\nName: VINAY SHARMA\n\nFather's Name : KANHAIYALAL\nSHARMA Photo is\nHouse Number: 163C Available\nAge: 40 Sex: MALE",
   "ACB1756096\n\n \n\nName: PUNEET KAUR\n\nHusband's Name : GURDEEP SINGH\nHouse Number: 208A\n\nAge: 30 Sex: FEMALE\n\nPhoto is\n\nAvailable",
   "ACB1813013\n\n \n\nName: yashika khandelwal\nFather's Name: sanjay khandelwal\nHouse Number: 216-B\n\nAge: 19 Sex: FEMALE\n\nPhoto is\n\nAvailable"],
  ["Name : CHANDER SHEKHAR\nFather's Name : NIHAL SINGH\nHouse Number : 220-C\nAge: 37 Sex: MALE\n\nACB1705565\n\nPhoto is\n\nAvailable",
   "Name : HITESH ANAND\nFather's Name: RAJIV ANAND\nHouse Number : 223-B\n\nAge: 22 Sex: MALE\n\nACB1776533\n\nPhoto is\n\nAvailable",
   "ACB1740983\nName: RAMA BATRA\n\nHusband's Name : SHYAM SUNDER\nBATRA Photo is\nHouse Number : 226C\nAge: 56 Sex: FEMALE\n\nAvailable"],
  ["ACB1713220\nName: NEHA GUPTA\n\nFather's Name: RAJNATH GUPTA\nHouse Number: 228-A\n\nAge: 24 Sex: FEMALE\n\nPhoto is\n\nAvailable",
   "ACB1715754\nName: PARTH GAIROLA\n\nFather's Name : ANANT PRAKASH\nGAIROLA Photo is\nHouse Number: 233-D\nAge: 23 Sex: MALE\n\nAvailable",
   "ACB1713949\nName: SUKHDA\n\nHusband's Name : pritam khemani\nHouse Number: 239-B\n\nAge: 61 Sex: FEMALE\n\nPhoto is\n\nAvailable"],
  ["Name: KAPIL KHEMANI\nFather's Name: pritam khemani\nHouse Number : 239-B\n\nAge: 28 Sex: MALE\n\n$ZM1492875\n\nPhoto is\n\nAvailable",
   "Name : CHETAN KHEMANI\nFather's Name: pritam khemani\nHouse Number : 239-B\n\nAge: 25 Sex: MALE\n\n$ZM1818722\n\nPhoto is\n\nAvailable",
   "Name: OM PRAKASH\nFather's Name : SHOBHA RAM\nHouse Number: 252-A\nAge: 62 Sex: MALE\n\nACB1783000\n\nPhoto is\n\nAvailable"],
  ["ACB1795442\n\n \n\n \n\nName : ANJANA\n\nHusband's Name : RAKESH TANEJA\nHouse Number : 260-A\n\nAge: 46 Sex: FEMALE\n\nPhoto is\nAvailable",
   "ACB1795467\n\n \n\n \n\nName : RAKESH TANEJA\nFather's Name : TEK CHAND\nHouse Number : 260-A\n\nAge: 44 Sex: MALE\n\nPhoto is\nAvailable",
   "ACB1795608\n\n \n\n \n\nName: RHYTHM\n\nFather's Name : RAKESH TANEJA\nHouse Number: 260-A\n\nAge: 20 Sex: FEMALE\n\nPhoto is\nAvailable"],
  ["ACB1715473\nName: HIMANI NENWANI\n\nMother's Name : KRISHNA NENWANI\nHouse Number: 264-C Photo is\nAge: 24 Sex: FEMALE\n\nAvailable",
   "ACB1605088\nName: AJAY VARMANI\n\nFather's Name: KALIDAS VARMANI\nHouse Number: 265-C Photo is\nAge: 60 Sex: MALE\n\nAvailable",
   "ACB1740976\nName: JATIN BATRA\n\nFather's Name: SHYAM SUNDER\nBATRA Photo is\nHouse Number: 266C\nAge: 38 Sex: MALE\n\nAvailable"],
  ["ACB1586262\nName: SANCHIT MAHAJAN\nFather's Name: S K MAHAJAN\nHouse Number: 270/C\nAge: 25 Sex: MALE\n\nPhoto is\nAvailable",
   "NCR1267996\nName: KAUSHLYA SHARDA\nHusband's Name: DILIP KUMAR\nHouse Number: 277-A\nAge: 48 Sex: FEMALE\n\nPhoto is\nAvailable",
   "Name: UTTAM\n\nMother's Name : SUDHA DEVI\nHouse Number: 278-D\n\nAge: 28 Sex: MALE\n\nACB1409209\n\n \n\nPhoto is\nAvailable"],
  ["Ah\n\n \n\n \n\n \n\nName: SHAIFALI\n\nHusband's Name : KAMAL CHAUHAN\nHouse Number : 292A\n\nAge: 29 Sex: FEMALE\n\nACB1665751\n\nPhoto is\n\nAvailable",
   "———\n\n \n\n \n\n \n\nACB1697621\nName : MAHNAZ KHAN\nHusband's Name : SAIFUDDIN\nSIDDIQUE Photo is\nHouse Number: 292-B\nAge: 46 Sex: FEMALE\n\nAvailable",
   "———\n\n \n\n \n\n \n\nACB1697614\nName: AZIZ SIDDIQUE\n\nFather's Name : SAIFUDDIN\nSIDDIQUE Photo is\nHouse Number: 292-B\nAge: 28 Sex: MALE\n\nAvailable"],
  ["ACB1665769\n\n \n\nName: SAHIL KUMAR\n\nFather's Name: SATISH KUMAR\nHouse Number: 293-B\n\nAge: 25 Sex: MALE\n\nPhoto is\nAvailable",
   "UWJ0067090\n\n \n\nName: GUNJAN ARORA\nHusband's Name : KAMAL ARORA\nHouse Number: 296C\n\nAge: 30 Sex: FEMALE\n\nPhoto is\n\nAvailable",
   "NEL1499011\n\n \n\nName: ROOPA SHARMA\nHusband's Name: VIVEK SHARMA\nHouse Number: 297-B\n\nAge: 34 Sex: FEMALE\n\nPhoto is\n\nAvailable"],
  ["{____ tq}\n\n \n\n \n\nACB1520857\n\n \n\nName: REKHA BISHT\nHusband's Name: ARVIND BISHT\nHouse Number: 297-C\n\nAge: 33 Sex: FEMALE\n\nPhoto is\n\nAvailable",
   "{____tmq_q\n\n \n\n \n\nJBJ0791418\n\n \n\nName: RAJNI ARORA\nHusband's Name: RAJ KUMAR\nHouse Number: 300-B\n\nAge: 50 Sex: FEMALE\n\nPhoto is\n\nAvailable",
   "{____tmq_q\n\n \n\n \n\nJBJ1120831\n\n \n\nName: MONICA NEGI\nHusband's Name: DALBIR SINGH\nNEGI Photo is\nHouse Number: 300-B\nAge: 43 Sex: FEMALE\n\nAvailable"]],
 'Regexes': [[': VINAY SHARMA',
   "Father's Name : KANHAIYALAL",
   'Age: 40',
   'Sex: MALE'],
  [': PUNEET KAUR',
   "Husband's Name : GURDEEP SINGH",
   'Age: 30',
   'Sex: FEMALE'],
  [': yashika khandelwal',
   "Father's Name: sanjay khandelwal",
   'Age: 19',
   'Sex: FEMALE'],
  [' : CHANDER SHEKHAR',
   "Father's Name : NIHAL SINGH",
   'Age: 37',
   'Sex: MALE'],
  [' : HITESH ANAND', "Father's Name: RAJIV ANAND", 'Age: 22', 'Sex: MALE'],
  [': RAMA BATRA', "Husband's Name : SHYAM SUNDER", 'Age: 56', 'Sex: FEMALE'],
  [': NEHA GUPTA', "Father's Name: RAJNATH GUPTA", 'Age: 24', 'Sex: FEMALE'],
  [': PARTH GAIROLA', "Father's Name : ANANT PRAKASH", 'Age: 23', 'Sex: MALE'],
  [': SUKHDA', "Husband's Name : pritam khemani", 'Age: 61', 'Sex: FEMALE'],
  [': KAPIL KHEMANI', "Father's Name: pritam khemani", 'Age: 28', 'Sex: MALE'],
  [' : CHETAN KHEMANI',
   "Father's Name: pritam khemani",
   'Age: 25',
   'Sex: MALE'],
  [': OM PRAKASH', "Father's Name : SHOBHA RAM", 'Age: 62', 'Sex: MALE'],
  [' : ANJANA', "Husband's Name : RAKESH TANEJA", 'Age: 46', 'Sex: FEMALE'],
  [' : RAKESH TANEJA', "Father's Name : TEK CHAND", 'Age: 44', 'Sex: MALE'],
  [': RHYTHM', "Father's Name : RAKESH TANEJA", 'Age: 20', 'Sex: FEMALE'],
  [': HIMANI NENWANI',
   "Mother's Name : KRISHNA NENWANI",
   'Age: 24',
   'Sex: FEMALE'],
  [': AJAY VARMANI', "Father's Name: KALIDAS VARMANI", 'Age: 60', 'Sex: MALE'],
  [': JATIN BATRA', "Father's Name: SHYAM SUNDER", 'Age: 38', 'Sex: MALE'],
  [': SANCHIT MAHAJAN', "Father's Name: S K MAHAJAN", 'Age: 25', 'Sex: MALE'],
  [': KAUSHLYA SHARDA',
   "Husband's Name: DILIP KUMAR",
   'Age: 48',
   'Sex: FEMALE'],
  [': UTTAM', "Mother's Name : SUDHA DEVI", 'Age: 28', 'Sex: MALE'],
  [': SHAIFALI', "Husband's Name : KAMAL CHAUHAN", 'Age: 29', 'Sex: FEMALE'],
  [' : MAHNAZ KHAN', "Husband's Name : SAIFUDDIN", 'Age: 46', 'Sex: FEMALE'],
  [': AZIZ SIDDIQUE', "Father's Name : SAIFUDDIN", 'Age: 28', 'Sex: MALE'],
  [': SAHIL KUMAR', "Father's Name: SATISH KUMAR", 'Age: 25', 'Sex: MALE'],
  [': GUNJAN ARORA', "Husband's Name : KAMAL ARORA", 'Age: 30', 'Sex: FEMALE'],
  [': ROOPA SHARMA', "Husband's Name: VIVEK SHARMA", 'Age: 34', 'Sex: FEMALE'],
  [': REKHA BISHT', "Husband's Name: ARVIND BISHT", 'Age: 33', 'Sex: FEMALE'],
  [': RAJNI ARORA', "Husband's Name: RAJ KUMAR", 'Age: 50', 'Sex: FEMALE'],
  [': MONICA NEGI', "Husband's Name: DALBIR SINGH", 'Age: 43', 'Sex: FEMALE']]}

In [251]:
'''This is a dumb, lazy approach'''
num_files = sorted([int(re.search('[0-9]+', filename)[0]) for filename in glob.glob('data/*/*.png')]);
num_files
# for file in usable_files:
#     with open(file+'.json', 'w') as f:
#         json.dump(handle_sheet(file), f)

TypeError: int() argument must be a string, a bytes-like object or a number, not 're.Match'

In [106]:
num_files = sorted([int(re.search('[0-9]+', filename)[0]) for filename in glob.glob('./*.json')])
dataframes = []
for file in num_files:
    with open(f'./page_{file}.png.json') as f:
        x = json.load(f)
        dataframes += [pd.DataFrame(x['Regexes'])]

In [15]:
df = pd.concat(dataframes).dropna(how='all')
df.columns = ['Name', 'Relative', 'Age', 'Sex']
df['Name'] = df['Name'].apply(lambda x: x.split(':')[-1].strip() if isinstance(x, str) else None)
df['Age'] = df['Age'].apply(lambda x: x.split(':')[-1].strip() if isinstance(x, str) else None)
df['Sex'] = df['Sex'].apply(lambda x: x.split(':')[-1].strip() if isinstance(x, str) else None)

In [17]:
df.to_csv('./first_pdf.csv', index=None)

In [6]:
import glob
import json
import pandas as pd

In [5]:
def get_json(filename):
    with open(filename) as file:
        return json.load(file)

In [24]:
sheets = [(get_json(filename), filename) for filename in glob.glob('./data/*/*.json') if os.path.basename(filename)!= 'page_1.png.json']

In [25]:
sheets[0]

({'Header': 'Assembly Constituency No and Name: 15-SHAKUR BASTI Part No.- : 111\n\nSection No and Name : 1-HARI SINGH PARK,NEW MULTAN NAGAR\n\n \n\n \n\n \n\nBAW APmnocagca BAD mian van vococn BAD APmnAorATOC',
  'Strings': [["Name: DEEPAK\n\nFather's Name: KEWAL KRISHAN\nHouse Number: 87\n\nPhoto is\nAge: 45 Sex: MALE\n\nAvailable\n\n \n\n \n\n \n\nToa]\n\nACRBNSK6ATO2R",
    "Name: REENA\n\nHusband's Name : DEEPAK\nHouse Number: 87 Photo is\nAge: 40 Sex: FEMALE\n\nAvailable\n\n \n\n \n\n \n\n545 ACRNS6AaNN",
    "Name: SURJEET SINGH\n\nFather's Name : GURCHARAN SINGH\nHouse Number: 88\n\nPhoto is\nAge: 76 Sex: MALE\n\nAvailable\n\n \n\n \n\n \n\n546 ACRNS6A210"],
   ["| el\n\nName : SURENDER KAUR\nHusband's Name: SURJEET SINGH\nHouse Number: 88\n\nAge: 74 Sex: FEMALE\n\nPhoto is\nAvailable\n\nAMrDRDNHORAQNT",
    "| El\n\nName : SURESH CHANDER\nFather's Name : TOTARAM\nHouse Number: 88\n\nAge: 68 Sex: MALE\n\nPhoto is\nAvailable\n\nAPrR4A2ADOONCT",
    "| el\n\nName: RASHMI\nHusband's Name: SURESH\nCHANDER Photo is\nHouse Number: 88\nAge: 64 Sex: FEMALE\n\nAvailable\n\nACPCRNORAQAD"],
   ["or re\n\nel\nName: ANIL KUMAR\nFather's Name : SURESH CHANDER\nHouse Number: 88 Photo is\nAge: 44 Sex: MALE\n\nAvailable\n\n \n\n \n\n \n\nBan ArDnocszo0ca",
    "oes re\n\nel\nName: ANUP KUMAR\nFather's Name: SURESH CHAND\nHouse Number: 88 Photo is\nAge: 43 Sex: MALE\n\nAvailable\n\n \n\n \n\n \n\nBa4 ArDnoc«szo7c",
    "Fr es\n\nel\nName: KAJAL MAHESHWARI\nHusband's Name : ANUP KUMAR\nMAHESHWARI Photo is\nHouse Number: 8&8\n\nAge: 37 Sex: FEMALE\n\nAvailable\n\n \n\n \n\n \n\n \n\nArDNnOCcAOOA"],
   ["Name: SONAL\n\nHusband's Name: ANIL KUMAR\nHouse Number: 88A Photo is\nAge: 37 Sex: FEMALE\n\nDacretliceetiteetiientiietititeiitendieetl\n\nAvailable\n\n  \n\n \n\n \n\n \n\nnmmaanwaaz",
    "Name: BHAGAT SINGH\n\nFather's Name: AVTAR SINGH\nHouse Number: 89\n\nPhoto is\nAge: 63 Sex: MALE\n\nShee Tee\n\nAvailable\n\n  \n\n \n\n \n\n \n\nPIANn TAnNnAONnC",
    "OS\n\nName: MAHESHWARI DEVI\n\nHusband's Name: BHAGAT SINGH\nHouse Number: 89\n\nPhoto is\nAge: 61 Sex: FEMALE\n\nhe TT\n\nAvailable\n\n  \n\n \n\n \n\nArmnMmacnonry5o"],
   ["L a | POT 4 iit\nName: LATA CHANDNA\n\nHusband's Name : YOGESH KUMAR\nCHANDNA Photo is\nHouse Number: 89\n\nAge: 42 Sex: FEMALE\n\nAvailable",
    "L a | DVVVUSS Tos\nName: NARENDER SINGH NEGI\n\nFather's Name : BHAGAT SINGH NEGI\nHouse Number: 89 Photo is\nAge: 35 Sex: MALE Available",
    "t a | FAY D TYUOUVIO\nName: SARITA NEGI\n\nHusband's Name : NARENDER SINGH\nNEGI Photo is\nHouse Number: 89 A Available\nAge: 35 Sex: FEMALE"],
   ["L ae | AL DUDS O92\nName: KAMAL SINGH\n\nFather's Name : BHAGAT SINGH\nHouse Number: 89A\n\nAge: 32 Sex: MALE\n\nPhoto is\n\nAvailable",
    "L ee | ALDIQVODIS\nName: SANGEETA NEGI\n\nFather's Name : BHAGAT SINGH NEGI\nHouse Number: 89 A\n\nAge: 30 Sex: FEMALE\n\nPhoto is\n\nAvailable",
    "l —_ I\nName: KARAN NEGI\nFather's Name : BHAGAT SINGH NEGI\nHouse Number: 89 A Photo is\nAge: 25 Sex: MALE\n\nALD IQUI090\n\nAvailable"],
   ["—— AL DUODSIUU\nName: RAJ KUMARI\nHusband's Name : GANGA RAM\nHouse Number: 89B Photo is\n\nAge: 68 Sex: FEMALE Available",
    "we ALDBUSD4SI IO\nName: YOGESH KUMAR\n\nFather's Name: GANGA RAM\nHouse Number: 89B Photo is\n\nAge: 46 Sex: MALE Available",
    "l —_] AL DBVUOD4SIZ0\nName: DINESH KUMAR CHANDNA\nFather's Name : GANGA RAM\nCHANDNA Photo is\nHouse Number: 89B\nAge: 39 Sex: MALE\n\n \n       \n    \n \n \n\nAvailable"],
   ["L =*} ACB116010535\nName : REENA GUPTA\n\nHusband's Name : DINESH KUMAR\nCHANDNA Photo is\nHouse Number: 89-B\nAge: 39 Sex: FEMALE\n\nAvailable",
    "L _I} ACB 1906/94\nName: JYOTI GARG\n\nMother's Name : REKHA GARG\nHouse Number: 90\n\nAge: 25 Sex: FEMALE\n\nPhoto is\nAvailable",
    "L I} ACB1306016\nName: PRASANN MALHOTRA\n\nFather's Name : RAVI MALHOTRA\nHouse Number: 90A\n\nAge: 50 Sex: MALE\n\nPhoto is\nAvailable"],
   ["L 289] ACB1308824\nName: SHALINI MALHOTRA\nHusband's Name: PRASANN\nMALHOTRA Photo is\nHouse Number: 90A\n\nAge: 47 Sex: FEMALE\n\nAvailable",
    "Joo\n\nName: PRATEEK MALHOTRA\nFather's Name: PRASANN\nMALHOTRA\n\nHouse Number: 90-A\n\nAge: 23 Sex: MALE\n\n \n\nACB16/8886\n\nPhoto is\n\nAvailable",
    "l oy ACB1598134\nName: SUNIL KUMAR SANGWAN\nFather's Name : HARI SINGH\n\nSANGWAN Photo is\nHouse Number: 91-SF\nAge: 46 Sex: MALE\n\nAvailable"],
   ["260\n\nName: SATWANTI SANGWAN\nHusband's Name: SUNIL KUMAR\nSANGWAN\n\nHouse Number: 91-SF\n\nAge: 45 Sex: FEMALE\n\nACB1598126\n\nPhoto is\n\nAvailable",
    "abd\n\nName: ANKITA SANGWAN\n\nFather's Name: SUNIL KUMAR\nSANGWAN\n\nHouse Number: 91-SF Available\nAge: 25 Sex: FEMALE\n\nACB1599199\n\nPhoto is",
    "aru\n\nName: ASHOK CHHIKARA\n\nFather's Name: RD CHHIKARA\nHouse Number: 92\n\nAge: 54 Sex: MALE\n\nACB0864975\n\nPhoto is\n\nAvailable"]],
  'Regexes': [[': DEEPAK',
    "Father's Name: KEWAL KRISHAN",
    'Age: 45',
    'Sex: MALE'],
   [': REENA', "Husband's Name : DEEPAK", 'Age: 40', 'Sex: FEMALE'],
   [': SURJEET SINGH',
    "Father's Name : GURCHARAN SINGH",
    'Age: 76',
    'Sex: MALE'],
   [' : SURENDER KAUR',
    "Husband's Name: SURJEET SINGH",
    'Age: 74',
    'Sex: FEMALE'],
   [' : SURESH CHANDER', "Father's Name : TOTARAM", 'Age: 68', 'Sex: MALE'],
   [': RASHMI', "Husband's Name: SURESH", 'Age: 64', 'Sex: FEMALE'],
   [': ANIL KUMAR', "Father's Name : SURESH CHANDER", 'Age: 44', 'Sex: MALE'],
   [': ANUP KUMAR', "Father's Name: SURESH CHAND", 'Age: 43', 'Sex: MALE'],
   [': KAJAL MAHESHWARI',
    "Husband's Name : ANUP KUMAR",
    'Age: 37',
    'Sex: FEMALE'],
   [': SONAL', "Husband's Name: ANIL KUMAR", 'Age: 37', 'Sex: FEMALE'],
   [': BHAGAT SINGH', "Father's Name: AVTAR SINGH", 'Age: 63', 'Sex: MALE'],
   [': MAHESHWARI DEVI',
    "Husband's Name: BHAGAT SINGH",
    'Age: 61',
    'Sex: FEMALE'],
   [': LATA CHANDNA',
    "Husband's Name : YOGESH KUMAR",
    'Age: 42',
    'Sex: FEMALE'],
   [': NARENDER SINGH NEGI',
    "Father's Name : BHAGAT SINGH NEGI",
    'Age: 35',
    'Sex: MALE'],
   [': SARITA NEGI',
    "Husband's Name : NARENDER SINGH",
    'Age: 35',
    'Sex: FEMALE'],
   [': KAMAL SINGH', "Father's Name : BHAGAT SINGH", 'Age: 32', 'Sex: MALE'],
   [': SANGEETA NEGI',
    "Father's Name : BHAGAT SINGH NEGI",
    'Age: 30',
    'Sex: FEMALE'],
   [': KARAN NEGI',
    "Father's Name : BHAGAT SINGH NEGI",
    'Age: 25',
    'Sex: MALE'],
   [': RAJ KUMARI', "Husband's Name : GANGA RAM", 'Age: 68', 'Sex: FEMALE'],
   [': YOGESH KUMAR', "Father's Name: GANGA RAM", 'Age: 46', 'Sex: MALE'],
   [': DINESH KUMAR CHANDNA',
    "Father's Name : GANGA RAM",
    'Age: 39',
    'Sex: MALE'],
   [' : REENA GUPTA',
    "Husband's Name : DINESH KUMAR",
    'Age: 39',
    'Sex: FEMALE'],
   [': JYOTI GARG', "Mother's Name : REKHA GARG", 'Age: 25', 'Sex: FEMALE'],
   [': PRASANN MALHOTRA',
    "Father's Name : RAVI MALHOTRA",
    'Age: 50',
    'Sex: MALE'],
   [': SHALINI MALHOTRA', "Husband's Name: PRASANN", 'Age: 47', 'Sex: FEMALE'],
   [': PRATEEK MALHOTRA', "Father's Name: PRASANN", 'Age: 23', 'Sex: MALE'],
   [': SUNIL KUMAR SANGWAN',
    "Father's Name : HARI SINGH",
    'Age: 46',
    'Sex: MALE'],
   [': SATWANTI SANGWAN',
    "Husband's Name: SUNIL KUMAR",
    'Age: 45',
    'Sex: FEMALE'],
   [': ANKITA SANGWAN',
    "Father's Name: SUNIL KUMAR",
    'Age: 25',
    'Sex: FEMALE'],
   [': ASHOK CHHIKARA',
    "Father's Name: RD CHHIKARA",
    'Age: 54',
    'Sex: MALE']]},
 './data/111/page_21.png.json')

In [23]:
len(sheets)

5109

In [26]:
dataframes = []
for sheet, name in sheets:
    new_df = pd.DataFrame(sheet['Regexes'])
    new_df['Section'] = sheet['Header']
#     print(new_df.size, len(sheet['Strings']))
    new_df['Strings'] = [item for sublist in sheet['Strings'] for item in sublist]
    new_df['Sheet'] = name
    dataframes += [new_df]

In [27]:
one_four_three = pd.concat(dataframes)

In [28]:
one_four_three.head()

,0,1,2,3,Section,Strings,Sheet
0,: DEEPAK,Father's Name: KEWAL KRISHAN,Age: 45,Sex: MALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: DEEPAK\n\nFather's Name: KEWAL KRISHAN\n...,./data/111/page_21.png.json
1,: REENA,Husband's Name : DEEPAK,Age: 40,Sex: FEMALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: REENA\n\nHusband's Name : DEEPAK\nHouse ...,./data/111/page_21.png.json
2,: SURJEET SINGH,Father's Name : GURCHARAN SINGH,Age: 76,Sex: MALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: SURJEET SINGH\n\nFather's Name : GURCHAR...,./data/111/page_21.png.json
3,: SURENDER KAUR,Husband's Name: SURJEET SINGH,Age: 74,Sex: FEMALE,Assembly Constituency No and Name: 15-SHAKUR B...,| el\n\nName : SURENDER KAUR\nHusband's Name: ...,./data/111/page_21.png.json
4,: SURESH CHANDER,Father's Name : TOTARAM,Age: 68,Sex: MALE,Assembly Constituency No and Name: 15-SHAKUR B...,| El\n\nName : SURESH CHANDER\nFather's Name :...,./data/111/page_21.png.json

In [29]:
one_four_three.shape

(148980, 7)

In [30]:
one_four_three.columns = ['Name', 'Relative', 'Age', 'Sex', 'Section', 'Raw String', 'Sheet']

In [31]:
df = one_four_three

In [32]:
df['Name'] = df['Name'].apply(lambda x: x.split(':')[-1].strip() if isinstance(x, str) else None)

In [33]:
df.head()

,Name,Relative,Age,Sex,Section,Raw String,Sheet
0,DEEPAK,Father's Name: KEWAL KRISHAN,Age: 45,Sex: MALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: DEEPAK\n\nFather's Name: KEWAL KRISHAN\n...,./data/111/page_21.png.json
1,REENA,Husband's Name : DEEPAK,Age: 40,Sex: FEMALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: REENA\n\nHusband's Name : DEEPAK\nHouse ...,./data/111/page_21.png.json
2,SURJEET SINGH,Father's Name : GURCHARAN SINGH,Age: 76,Sex: MALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: SURJEET SINGH\n\nFather's Name : GURCHAR...,./data/111/page_21.png.json
3,SURENDER KAUR,Husband's Name: SURJEET SINGH,Age: 74,Sex: FEMALE,Assembly Constituency No and Name: 15-SHAKUR B...,| el\n\nName : SURENDER KAUR\nHusband's Name: ...,./data/111/page_21.png.json
4,SURESH CHANDER,Father's Name : TOTARAM,Age: 68,Sex: MALE,Assembly Constituency No and Name: 15-SHAKUR B...,| El\n\nName : SURESH CHANDER\nFather's Name :...,./data/111/page_21.png.json

In [34]:
df['Age'] = df['Age'].apply(lambda x: x.split(':')[-1].strip() if isinstance(x, str) else None)
df['Sex'] = df['Sex'].apply(lambda x: x.split(':')[-1].strip() if isinstance(x, str) else None)

In [35]:
df.head()

,Name,Relative,Age,Sex,Section,Raw String,Sheet
0,DEEPAK,Father's Name: KEWAL KRISHAN,45,MALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: DEEPAK\n\nFather's Name: KEWAL KRISHAN\n...,./data/111/page_21.png.json
1,REENA,Husband's Name : DEEPAK,40,FEMALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: REENA\n\nHusband's Name : DEEPAK\nHouse ...,./data/111/page_21.png.json
2,SURJEET SINGH,Father's Name : GURCHARAN SINGH,76,MALE,Assembly Constituency No and Name: 15-SHAKUR B...,Name: SURJEET SINGH\n\nFather's Name : GURCHAR...,./data/111/page_21.png.json
3,SURENDER KAUR,Husband's Name: SURJEET SINGH,74,FEMALE,Assembly Constituency No and Name: 15-SHAKUR B...,| el\n\nName : SURENDER KAUR\nHusband's Name: ...,./data/111/page_21.png.json
4,SURESH CHANDER,Father's Name : TOTARAM,68,MALE,Assembly Constituency No and Name: 15-SHAKUR B...,| El\n\nName : SURESH CHANDER\nFather's Name :...,./data/111/page_21.png.json

In [36]:
df['Relative_']=df['Relative'].apply(lambda x: x.split(':')[0] if isinstance(x, str)else None)
df['Relative Name']=df['Relative'].apply(lambda x: x.split(':')[1] if isinstance(x, str)else None)

In [37]:
df.drop('Relative', axis=1, inplace=True)

In [38]:
df = df.rename(columns={'Relative_': 'Relative'})

In [39]:
df['Section'] = df['Section'].apply(lambda x: x.split(':')[-1] if isinstance(x, str) else None)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148980 entries, 0 to 29
Data columns (total 8 columns):
Name             143298 non-null object
Age              142789 non-null object
Sex              143137 non-null object
Section          148980 non-null object
Raw String       148980 non-null object
Sheet            148980 non-null object
Relative         143095 non-null object
Relative Name    143095 non-null object
dtypes: object(8)
memory usage: 10.2+ MB

In [45]:
import re

df['Voter ID'] = df['Raw String'].apply(lambda x: re.search('([A-Z,0-9])+', x.split('Name')[0]))

In [48]:
df['Voter Id'] = df['Voter ID'].apply(lambda x: x[0] if x else None)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148980 entries, 0 to 29
Data columns (total 10 columns):
Name             143298 non-null object
Age              142789 non-null object
Sex              143137 non-null object
Section          148980 non-null object
Raw String       148980 non-null object
Sheet            148980 non-null object
Relative         143095 non-null object
Relative Name    143095 non-null object
Voter ID         101458 non-null object
Voter Id         101458 non-null object
dtypes: object(10)
memory usage: 12.5+ MB

In [51]:
df.drop('Voter ID', inplace=True, axis=1)

In [56]:
temp = df.dropna(thresh=6)

In [57]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143298 entries, 0 to 29
Data columns (total 9 columns):
Name             143298 non-null object
Age              142789 non-null object
Sex              143137 non-null object
Section          143298 non-null object
Raw String       143298 non-null object
Sheet            143298 non-null object
Relative         143095 non-null object
Relative Name    143095 non-null object
Voter Id         101458 non-null object
dtypes: object(9)
memory usage: 10.9+ MB

In [22]:
temp.fillna('na').to_excel('./total.xlsx')

In [59]:
from sqlalchemy import create_engine

In [60]:
engine = create_engine('sqlite:///shakurbasti.db')

In [67]:
temp.fillna('').to_sql('voters', engine, index=None, if_exists='replace')

In [68]:
engine.table_names()

['voters', 'voters2']

In [69]:
df = pd.read_sql('select * from voters', engine)

In [74]:
df['Relative'] = df['Relative'].apply(lambda x: re.sub("\'s", '', x.split('Name')[0]).upper())

In [75]:
df.Sex.values

,Name,Age,Sex,Section,Raw String,Sheet,Relative,Relative Name,Voter Id
0,DEEPAK,45,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR\n\n \n\n \...",Name: DEEPAK\n\nFather's Name: KEWAL KRISHAN\n...,./data/111/page_21.png.json,FATHER,KEWAL KRISHAN,
1,REENA,40,FEMALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR\n\n \n\n \...",Name: REENA\n\nHusband's Name : DEEPAK\nHouse ...,./data/111/page_21.png.json,HUSBAND,DEEPAK,
2,SURJEET SINGH,76,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR\n\n \n\n \...",Name: SURJEET SINGH\n\nFather's Name : GURCHAR...,./data/111/page_21.png.json,FATHER,GURCHARAN SINGH,
3,SURENDER KAUR,74,FEMALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR\n\n \n\n \...",| el\n\nName : SURENDER KAUR\nHusband's Name: ...,./data/111/page_21.png.json,HUSBAND,SURJEET SINGH,
4,SURESH CHANDER,68,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR\n\n \n\n \...",| El\n\nName : SURESH CHANDER\nFather's Name :...,./data/111/page_21.png.json,FATHER,TOTARAM,E

In [48]:
df.fillna('na').to_sql('voters2', engine, index=None)

In [49]:
engine.table_names()

['voters', 'voters2']

In [50]:
ls

app/   extract_pipe.ipynb  shakurbasti.db               total.xlsx
data/  extract_pipe.py     total_slightly_cleaner.xlsx  Untitled.ipynb

In [51]:
!cp shakurbasti.db ../vsa/assets/data/